# Use Circle CI 2.0
version: 2
## Customize the test machine
jobs:
  build:
      working_directory: ~/flairLED
      docker:
        - image: circleci/node:6.11.0-browsers
          environment:
            TZ: "/usr/share/zoneinfo/America/Chicago" # Set the timezone to Central
      steps:
        - checkout
#        - run:
#            name: update-npm
#            command: sudo npm install -g npm@5.2.0

        - run:
            name: install-gulp-cli
            command: sudo npm install -g gulp
        - run:
            name: install-angular-cli
            command: sudo npm install -g @angular/cli
        - restore_cache:
              key: node-6-dependency-cache-{{ .Branch }}-{{ checksum "package.json" }}
        - run:
            name: install-npm-dependencies
            command: npm install
        - save_cache:
            key: node-6-dependency-cache-{{ .Branch }}-{{ checksum "package.json" }}
            paths:
              - ./node_modules
#        - run:
#            name: install-gem-dependencies
#            command: gem install coveralls coveralls-lcov

        - run:
            name: lint
            command: gulp lint
        - run:
            name: unit-tests
            command: ng test --single-run
        - run:
            name: e2e-tests
            command: ng e2e
